<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-membre-heading" jhiTranslate="jtest5App.membre.home.createOrEditLabel">Create or edit a Membre</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtest5App.membre.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                           formControlName="matricule"/>
                    <div *ngIf="editForm.get('matricule')!.invalid && (editForm.get('matricule')!.dirty || editForm.get('matricule')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('matricule')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtest5App.membre.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtest5App.membre.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
                    <div class="input-group">
                        <input id="field_lieuNaissance" type="text" class="form-control" name="lieuNaissance" ngbDatepicker #lieuNaissanceDp="ngbDatepicker" formControlName="lieuNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lieuNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtest5App.membre.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('user')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jtest5App.membre.departement" for="field_departement">Departement</label>
                    <select class="form-control" id="field_departement" name="departement" formControlName="departement">
                        <option *ngIf="!editForm.get('departement')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="departementOption.id === editForm.get('departement')!.value?.id ? editForm.get('departement')!.value : departementOption" *ngFor="let departementOption of departements; trackBy: trackById">{{ departementOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('departement')!.invalid && (editForm.get('departement')!.dirty || editForm.get('departement')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('departement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
