<div>
    <h2 id="page-heading">
        <span jhiTranslate="jtest5App.etudiant.home.title">Etudiants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etudiant" [routerLink]="['/etudiant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jtest5App.etudiant.home.createLabel">
            Create a new Etudiant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etudiants?.length === 0">
        <span jhiTranslate="jtest5App.etudiant.home.notFound">No etudiants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etudiants && etudiants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.dateNaissance">Date Naissance</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.lieuNaissance">Lieu Naissance</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.adresse">Adresse</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.telephone">Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.ine">Ine</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.nin">Nin</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="jtest5App.etudiant.nationalite">Nationalite</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etudiant of etudiants ;trackBy: trackId">
                    <td><a [routerLink]="['/etudiant', etudiant.id, 'view']">{{ etudiant.id }}</a></td>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{{ etudiant.dateNaissance | date:'mediumDate' }}</td>
                    <td>{{ etudiant.email }}</td>
                    <td>{{ etudiant.lieuNaissance }}</td>
                    <td>{{ etudiant.adresse }}</td>
                    <td>{{ etudiant.telephone }}</td>
                    <td>{{ etudiant.ine }}</td>
                    <td>{{ etudiant.nin }}</td>
                    <td>
                        {{ etudiant.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="etudiant.nationalite">
                            <a [routerLink]="['/nationalite', etudiant.nationalite?.id, 'view']" >{{ etudiant.nationalite?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etudiant', etudiant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etudiant', etudiant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etudiant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
