<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="semestre">
            <h2><span jhiTranslate="jtest5App.semestre.detail.title">Semestre</span> {{ semestre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jtest5App.semestre.intitule">Intitule</span></dt>
                <dd>
                    <span>{{ semestre.intitule }}</span>
                </dd>
                <dt><span jhiTranslate="jtest5App.semestre.demande">Demande</span></dt>
                <dd>
                    <div *ngIf="semestre.demande">
                        <a [routerLink]="['/demande', semestre.demande?.id, 'view']">{{ semestre.demande?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/semestre', semestre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
